@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #04021e;
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #04021e;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


.image_dev{
  /* position: absolute; */
  left: -120px; /* Start from outside the right side */
  animation: slideIn 2s forwards;
}
@keyframes slideIn {
  from {
    left: 120px;
  }
  to {
    left: calc( 70px); /* Move to the center */
  }
}
